n8n-workflow-chat.json
{
  "name": "n8n-workflow-chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9b7f7b59-8dbd-4c1b-b058-302126083371",
      "name": "Webhook",
      "webhookId": "fb1990d4-cb29-426e-bbfb-85aa7b3df7b1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"={{$json.response}}\",\n  \"model\": \"={{$json.model}}\",\n  \"chatId\": \"={{$('Webhook').item.json.body.chatId}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "cba0dc34-a502-40e5-ae57-1edf587cb09d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"phi3:mini\",\n  \"prompt\": \"={{$json.body.message}}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "d8014eda-c737-48fe-857d-ce183ab38826",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a84dcde-7338-47d8-a568-6d5bfca30b14",
  "meta": {
    "instanceId": "75c3b491ccfa719fa5293192cbcc861c16720c27aa5226837c8096c379046a77"
  },
  "id": "5mHtTExRMgMupjhR",
  "tags": []
}