n8n-workflow-chat.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9a6a1809-3af9-42d2-9f81-e6fb3f2ebe8b",
      "name": "Webhook",
      "webhookId": "fb1990d4-cb29-426e-bbfb-85aa7b3df7b1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{$json.response}}\",\n  \"model\": \"{{$json.model}}\",\n  \"chatId\": \"{{$('Webhook').item.json.body.chatId}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "dc894d81-2c54-44a5-ac2d-505ddeef4940",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"phi3:mini\",\n  \"prompt\": \"={{$json.body.message}}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "50f13c14-bc7a-43d1-96ee-0462c43d4956",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "190a393e-057b-4690-8c86-1e3df70b314c",
  "meta": {
    "instanceId": "1849289ff8f4d899cbc164dab99ecaab0954991ff29781cefdf71d5364b64325"
  },
  "id": "xJmZMEjlAttlzdQX",
  "tags": []
}